/* General CSS rules for every viewport, including smartphones */
.mascara{
    position:absolute;
    left:0;
    top:0;
    z-index:100;
    background-color:black;
    width: 100%;
    height: 100%;
    opacity: 0.8;
}

.window{
    position: absolute;
    width: 50%;
    height: 70%;
    left: 12%;
    top: 12%;
    background-color: white;
    color: #4286f4;
    z-index: 200;
    padding: 3% 10% 3% 10%;
    border-radius: 10px;
    text-align: center;
}

#title{
    margin-top: 25px;
    font-weight: 700;
    font-size: 25px;
}

#fechaModal{
    cursor: pointer; 
    float: right;
}
 
#navbar{
    width: 100%;    
    padding: 2px;    
    background-color: #4286f4;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

#navbar a {
    float: left;
    box-sizing: border-box; 
    margin: 5px;
    border: 1px solid black;
    padding: 5px;
    border-radius: 3px;
    background-color: #317ef9;
    color: white;
}

.lbl-item {
    position: absolute;
    left: -10px;
    top: 50px;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    font-size: 20px;
}

.lbl-criterio {
    font-size: 20px;
}

.remove_field {
    text-decoration: none;
    color: red;
}

#mySidenav p{
    text-align: justify;
    margin-left: 5px;
    margin-right: 5px;
}

.info-container {
    text-align: center;
    width: 100%;
    height: 120px;
}

.infos {
    float: left;
    margin-left: 5px;
    margin-right: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    width: 23%;
    max-height: 150px;
    overflow: auto;
}

.infos input{
    text-decoration: none;
    border: none;
    text-align: center;
}

.criterios,
.itens,
.configs{
    border: 1px solid #4286f4;
    border-radius: 10px;
}

.criterios {
    text-align: center;
}

.itens {
    margin-top: 2px;
    text-align: center;
}

.itens a{
    text-decoration: none;
    color: red;
}

.configs {

}

.celula {
    text-align: center;
    margin: 2px;
    width: 50px;
}

.content {
    max-width: 100%;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.configuracao {
    text-align: center;
}

.areaMatriz {
    margin-top: 2px;
}

.matriz-content {
    position: relative;
    border: 1px solid #4286f4;
    border-radius: 10px;
    margin-top: 15px;
    overflow: auto;
    padding: 15px;
}

.areaInfo {
    border: 2px solid #4CAF50;
    padding: 10px;
    border-radius: 10px;
}

.linhaMatriz {
    white-space: nowrap;
}

.rotuloAlternativa {
    float: left;
    border: 1px solid black;
    margin-right: 5px;
    padding: 1px;
    border-radius: 1px;
    text-align: center;
}

.rotuloAtributo {
    border: 1px solid black;
    padding: 1px;
    padding-left: 20px;
    padding-right: 20px;

    /*margin-left: 0px;*/
    /*margin-right: 20px;*/
    border-radius: 1px;
    text-align: center;
}

#label-atributo {
    margin-left: 20px;
}

.alternativa {
    margin-right: 3px;
}

.atributo {
    margin-right: 3px;
}

.peso {
    margin-right: 3px;
}

.importancia {
    margin-right: 3px;
}

.botao1 {
    border-radius: 5px;
    border: 1px solid #4286f4;
    color: white;
    background-color: #4286f4;
    display: inline-block;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    padding: 8px;
    transition-duration: 1s;
    margin: 1px;
}

.botao1:focus {
    outline: none;
}

.botao-run {
    text-align: right;
    margin-top: 5px;
    text-decoration: underline !important;
    font-size: 18px !important;
}

.botao-edit {
    border: none;
    padding: 5px 10px;
    font-size: 12px;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: #4286f4;
    display: inline-block;
    margin-bottom: -15px;
}

/*DAQUI*/
/* esse trecho faz sumir as setas dos campos type="number" */
[type="number"] {
    -moz-appearance: textfield;
}
[type="number"]::-webkit-outer-spin-button,
[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/*ATÉ AQUI*/

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}



/*
  360px, 768px, 992px e 1200px

@media (min-width: 360px){
   regras para celulares
}

@media (min-width: 768px) {
   regras para tablets e telas maiores


}

@media (min-width: 992px) {
  regras para telas pequenas de destkops e laptops


}


@media (min-width: 1200px) {
  regras apenas para telas grandes de desktops


}
*/

